*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg ,#11121c,rgb(0, 0, 0));

}
.calc{
    background: linear-gradient(-45deg ,#11121c,rgb(0, 0, 0));
    border: 2px solid #fff;
    margin: 10px;
    padding: 5vh;
    border-radius: 10%;
}
input{
    width: 100%;
    height: 13vh;
    background:linear-gradient(#96969646,#11121c);
    border: none;
    border-radius: 12px;
    text-align:right;
    font-size: 20px;
    color: #969696;
    margin-bottom: 14px;
    
}
button{
    height:60px;
    width: 60px;
    margin: 4px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 1px 2px #3f425f;
}
button:hover{
    background-color: #222435;
}
#equal{
    background-color: #ff7300;
}